{% extends 'base.twig' %}

{% block title %}صورتحساب{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){  
            $(".circle").click(function (e){
                stepClicked(e);
            });
            $("#carrierPrice").html(getCarrierPrice());
            var products= getProducts();
            var total=0;
            for(var i=0;i<products.length;i++){
                 total+=addProductRow(products[i],i);
            }
            total+=addDaftariRow(products.length);
            addSumRow(total);
	});
        function addProductRow(product,index){
            var row=$("<div></div>");
            row.addClass("billRow");
            if(index%2===0){
                row.addClass("billRowEven");
            }
            else{
                row.addClass("billRowOdd");
            }
            row.addClass("row");
            row.append($("<div class='col-2'>"+product.product.title+"</div>"));
            row.append($("<div class='col-2'>"+correctPage(product.pages)+"</div>"));
            row.append($("<div class='col-2'>"+correctPage(product.clone)+"</div>"));
            var extras=$("<div class='col-2'></div>");
            addExtraRows(extras,product);
            row.append(extras);
            row.append($("<div class='col-2'>"+correctPage(product.product.price)+"</div>"));
            var total=getRowPrice(product);
            row.append($("<div class='col-2'>"+total+"</div>"));
            $("#billRows").append(row);
            return total;
        }
        function addSumRow(total){
            var row=$("<div></div>");
            row.addClass("billRow");
            row.css("background-color","rgb(238, 238, 253)");
            row.css("border-bottom","solid 1px #9999ff");
            
            row.addClass("row");
            row.append($("<div class='col-2'>جمع</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>"+total+"</div>"));
            $("#billRows").append(row);
        }
        function addDaftariRow(index){
            var prices=JSON.parse($("#txtPrice").val());
            var row=$("<div></div>");
            row.addClass("billRow");
            if(index%2===0){
                row.addClass("billRowEven");
            }
            else{
                row.addClass("billRowOdd");
            }
            row.addClass("row");
            row.append($("<div class='col-2'>هزینه های دفتری</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>-</div>"));
            row.append($("<div class='col-2'>"+prices.daftari+"</div>"));
            $("#billRows").append(row);
            return prices.daftari;
        }
        function correctPage(page){
            if(page==="0" || page===0){
                return 1;
            }
            return parseInt(page);
        }
        function addExtraRows(parent,product){
            var hasExtra=false;
            if(product.marriage){
                $(parent).append(getExtraRow("ازدواج"));    
                hasExtra=true;
            }
            if(product.talagh){
                $(parent).append(getExtraRow("طلاق"));    
                hasExtra=true;
            }
            if(product.wifeDie){
                $(parent).append(getExtraRow("فوت همسر"));    
                hasExtra=true;
            }
            if(product.child){
                $(parent).append(getExtraRow(product.childCount+" فرزند"));    
                hasExtra=true;
            }
            if(product.die){
                $(parent).append(getExtraRow("فوت صاحب شناسنامه"));    
            }
            if(product.desc){
                $(parent).append(getExtraRow("توضیحات شناسنامه"));
                hasExtra=true;
            }
            if(product.mohrCount){
                $(parent).append(getExtraRow(product.mohrCount+" صفحه مهر شده"));    
                hasExtra=true;
            }
            if(product.vizaCount){
                $(parent).append(getExtraRow(product.vizaCount+" ویزا"));    
                hasExtra=true;
            }
            if(product.entghalCount){
                $(parent).append(getExtraRow(product.entghalCount+" انتقال سند"));    
                hasExtra=true;
            }
            if(!hasExtra){
                $(parent).append(getExtraRow("-"));    
            }
        }
        function getExtraRow(title){
            return $("<div>"+title+"</div>");
        }
        function getRowPrice(product){
            var prices=JSON.parse($("#txtPrice").val());
            var total=0;
            var translateBase=product.product.price;
            if(product.lang!=="1"){
                translateBase=product.product.extra;
            }
            var pages=parseInt(product.pages);
            if(pages>1){
                total=translateBase*pages;
            }
            else{
                total=translateBase;
            }
            if(product.marriage){
                total+=prices.shenas_item;
            }
            if(product.talagh){
                total+=prices.shenas_item;
            }            
            if(product.wifeDie){
                total+=prices.shenas_item;
            }           
            if(product.die){
                total+=prices.shenas_item;
            }           
            if(product.desc){
                total+=prices.shenas_item;
            }          
            total+=prices.shenas_item*product.childCount;
            total+=prices.passport*(product.mohrCount+product.vizaCount);
            total+=prices.enteghal*(product.entghalCount);
            if(product.clone!=="1"){
                total+=(parseInt(product.clone)-1)*total/4;
            }
            return total;
        }
        
        function getCarrierPrice(){
            var center=getCenter();
            var loc=getCenter().item.loc;
            var userPoint=getAddress().item.point;
            var dist=getDistance(loc,userPoint);
            if(isFreeCarrier(center,dist)){
                return 0;
            }
            var p1=loc.split(",");
            var p2=userPoint.split(",");
            var data = JSON.stringify({
              'transport_type': 'motor_taxi',
              'addresses': [
                {
                  'type': 'origin',
                  'lat' : p1[0],
                  'lng' : p1[1]
                },
                {
                  'type': 'destination',
                  'lat' : p2[0],
                  'lng' : p2[1]
                }
              ],
              'has_return': true,
              'cashed': false
            });

            var xhr = new XMLHttpRequest();

            xhr.addEventListener('readystatechange', function () {
                debugger
              if (this.readyState === 4) {
                console.log(this.responseText);
              }
            });
            var token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjI0MTEsImlzcyI6Imh0dHA6XC9cL3NhbmRib3gtcGFuZWwuYWxvcGV5ay5jb21cL2dlbmVyYXRlLXRva2VuXC8yNDExIiwiaWF0IjoxNTIzOTQ2NTE1LCJleHAiOjUxMjM5NTAxMTUsIm5iZiI6MTUyMzk0NjUxNSwianRpIjoiMjJlZTBkZmExYzlmOGM0MjRjMjc2ZDc1YjZkOTFkY2IifQ.2AiK11OVIXcpkwfLu5uFLobED8kn-ae3DSZKMZDE7Uo";
            xhr.open('POST', 'https://sandbox-api.alopeyk.com/api/v2/orders/price/calc');
            xhr.setRequestHeader('Authorization', 'Bearer ' + token);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "localhost");
            xhr.setRequestHeader("Access-Control-Allow-Headers", "x-requested-with");

            xhr.send(data);
        }
</script>
{% endblock %}


{% block content %}
<div class="stepper">
  <div id="step1" class="circle done"> <span class="label">1</span>
    <span class="title">انتخاب مدارک</span>

  </div> <span class="bar done"></span>

  <div id="step2" class="circle done"> <span class="label">2</span>
    <span class="title"> پیوست مدارک</span>

  </div> <span class="bar done"></span>

  <div id="step3" class="circle done"> <span class="label">3</span>
    <span class="title">تعیین آدرس</span>

  </div> <span class="bar done"></span>

  <div id="step4" class="circle done"> <span class="label">4</span>
    <span class="title">انتخاب دفتر ترجمه</span>

  </div> <span class="bar done"></span>

  <div id="step5" class="circle active"> <span class="label">5</span>
    <span class="title">صورتحساب</span>

  </div>
</div>
<div class="container mainContainer" style="text-align: right;direction: rtl;">
    <input id="txtPrice" style="display: none" value="{{prices}}"/>
    <br/>
    <div style="text-align: center;color: #3143a1">کلیه قیمت ها منطبق با قیمت مصوب انجمن مترجمان رسمی است.</div>
    <div style="text-align: center;color: #3143a1;font-size: 10pt;margin-top:3px;">قیمت ها به تومان می باشد.</div>
    <br/>
    <div id="billHeader" class="row">
        <div class="col-2">نوع مدرک</div>
        <div class="col-2">تعداد صفحه</div>
        <div class="col-2">تعداد نسخه</div>
        <div class="col-2">موارد اضافه</div>
        <div class="col-2">قیمت پایه</div>
        <div class="col-2">جمع</div>
    </div>
    <div id="billRows">
        
    </div>
    <div id="carrierPrice"></div>
        
</div>
{% endblock %}
