{% extends 'base.twig' %}
{% block keywords%}ترجمه رسمی انگلیسی, ترجمه رسمی فرانسوی, ترجمه رسمی آلمانی, ترجمه رسمی عربی, ترجمه رسمی ترکی, ترجمه رسمی چینی, ترجمه رسمی به زبان, زبان ترجمه رسمی{% endblock %}
{% block desc%}ترجمه رسمی آنلاین به زبان های انگلیسی فرانسوی آلمانی اسپانیایی چینی عربی اردو ژاپنی ترکی استانبولی روسی ارمنی کردی{% endblock %}
{% block title %}زبان های ترجمه رسمی{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
        });

    </script>
{% endblock %}


{% block content %}
    <div class="container mainContainer">
        <div class="row">
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_انگلیسی'> <div class='cityItem'>ترجمه رسمی انگلیسی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_فرانسوی'> <div class='cityItem'>ترجمه رسمی فرانسوی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_آلمانی'> <div class='cityItem'>ترجمه رسمی آلمانی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_اسپانیایی'> <div class='cityItem'>ترجمه رسمی اسپانیایی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_چینی'> <div class='cityItem'>ترجمه رسمی چینی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_عربی'> <div class='cityItem'>ترجمه رسمی عربی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_اردو'> <div class='cityItem'>ترجمه رسمی اردو </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_ژاپنی'> <div class='cityItem'>ترجمه رسمی ژاپنی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_ترکی-استانبولی'> <div class='cityItem'>ترجمه رسمی ترکی استانبولی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_ترکی'> <div class='cityItem'>ترجمه رسمی ترکی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_ایتالیایی'> <div class='cityItem'>ترجمه رسمی ایتالیایی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_روسی'> <div class='cityItem'>ترجمه رسمی روسی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_ارمنی'> <div class='cityItem'>ترجمه رسمی ارمنی </div> </a></div>
            <div class='col-6 col-sm-4 col-md-3'><a  href='./ترجمه_رسمی_آنلاین_کردی'> <div class='cityItem'>ترجمه رسمی کردی </div> </a></div>
        </div>
    </div>

{% endblock %}
