{% extends 'base.twig' %}

{% block title %}انتخاب_مدارک_ترجمه_رسمی{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){      
            createTable();
	});
	function categClick(id,e){
		$(".category").removeClass("categorySelected");
		$("#categ"+id).addClass("categorySelected");
		
		if(id===0){
			for(var i=1;i<=5;i++){
				$(".categ"+i).removeClass("hidden");
				$(".categ"+i).addClass("visible");
			}
		}
		else{
			for(var i=1;i<=5;i++){
				if(i===id){
					$(".categ"+i).removeClass("hidden");
					$(".categ"+i).addClass("visible");					
				}
				else{
					$(".categ"+i).removeClass("visible");
					$(".categ"+i).addClass("hidden");					
				}
			}
		}
	}
        
        function createTable(){
            var products= getProducts();
            for(var i=0;i<products.length;i++){
                var col=$("<div></div>");
                var item=$("<div></div>");
                col.addClass("col-sm-3");
                col.addClass("col-6");
                item.addClass("listItem");
                item.data("index",i);
                
                var contentRow=$("<div></div>");
                contentRow.addClass("row");
                
                var title=products[i].product.title;
                if(title.length>20){
                    title=title.substr(0,20)+" ...";
                }
                
                var titleCol=$("<div style='border-bottom:solid 1px #1b96bb;font-size:10pt;'>"+title+"</div>");
                titleCol.addClass("col-12");
                
                var removeCol=$("<div>حذف</div>");
                removeCol.addClass("col-6");
                removeCol.addClass("deleteButton");
                removeCol.click(function(){
                    var index= $(this).parent().parent().data().index;
                    removeProduct(index);
                    $(this).parent().parent().parent().remove();
                });
                
                var editCol=$("<div>ویرایش</div>");
                editCol.addClass("col-6");
                editCol.addClass("editButton");
                editCol.click(function(){
                    var index= $(this).parent().parent().data().index;
                    var product=getProducts()[index];
                    setEditing(index,product);
                    window.location=product.product.url;
                });
                
                contentRow.append(titleCol);
                contentRow.append(removeCol);
                contentRow.append(editCol);
                
                
                
                item.html(contentRow);
                col.append(item);
                
                var deleteButton=$("<span class='glyphicon glyphicon-remove'></span>");
                col.append(deleteButton);
                
                $("#productList").append(col);
            }
        }
        function productClick(e){
            var href = this.href;
            setEditing(-1,null);
            location.href = href;
        }
</script>
{% endblock %}


{% block content %}
<div class="stepper">
  <div class="circle active"> <span class="label">1</span>
    <span class="title">انتخاب مدارک</span>

  </div> <span class="bar active"></span>

  <div class="circle"> <span class="label">2</span>
    <span class="title"> پیوست مدارک</span>

  </div> <span class="bar"></span>

  <div class="circle"> <span class="label">3</span>
    <span class="title">تعیین آدرس</span>

  </div> <span class="bar"></span>

  <div class="circle"> <span class="label">4</span>
    <span class="title">انتخاب دفتر ترجمه</span>

  </div> <span class="bar"></span>

  <div class="circle"> <span class="label">5</span>
    <span class="title">صورتحساب</span>

  </div>
</div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">مدارک انتخاب شده</legend>
    <div id="productList" class="row">
    </div>
</fieldset>
<a href="پیوست_مدارک_ترجمه_رسمی"> <div class="btn btn-primary topButton">ثبت سفارش</div></a>

<div id="page1" class="row" style="direction:rtl;margin-top:10px;">
    <div class="col-4 col-sm-2">
                <div id="categ0" onclick="categClick(0);" class="category categorySelected" >همه مدارک</div>
                <div id="categ1" onclick="categClick(1);" class="category">احوال شخصیه</div>
                <div id="categ3" onclick="categClick(3);" class="category">اسناد</div>
                <div id="categ2" onclick="categClick(2);" class="category">مدارک تحصیلی</div>
                <div id="categ4" onclick="categClick(4);" class="category">شرکت ها و دفاتر</div>
                <div id="categ5" onclick="categClick(5);" class="category">گواهی و پروانه</div>
    </div>
    <div class="col-8 col-sm-10">
        <div class="row" style="overflow:auto;margin-top: 10px;height: 290px;background-color: #f1f6ff;">
            {% for product in products %}
            <div class='col-6 col-sm-3 categ{{product.category}}'><a onclick="productClick(event);" href='{{product.url}}'> <div class='product'>{{product.title}}</div> </a></div>
            {% endfor %}
        </div>
    </div>
	
</div>


{% endblock %}
