{% extends 'base.twig' %}

{% block title %}خطا در پرداخت{% endblock %}
{% block styles %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function (){
        });
    </script>
{% endblock %}


{% block content %}
    <div style="text-align: center;font-size: 16pt;margin-top: 50px;color: #1182b0;">خطا در پرداخت. کد خطا {{ error }}</div>
    
    <div class="d-flex justify-content-center">
        <a href="./"> <div style="width: 180px;margin-top: 10px;" class="formButton btn btn-primary topButton">بازگشت به صفحه اصلی</div></a>
    </div>
{% endblock %}
